@model StreamingZeiger.Models.Series
@{
    ViewData["Title"] = Model.Title;
    var recommended = ViewBag.RecommendedSeries as List<StreamingZeiger.Models.Series>;
}

<div class="container mt-4">
    <div class="row">
        <!-- Poster -->
        <div class="col-md-4">
            <img src="@Url.Content(Model.PosterFile)" alt="@Model.Title Poster" class="img-fluid rounded shadow" />
        </div>

        <!-- Infos -->
        <div class="col-md-8">
            <h1>@Model.Title (@Model.StartYear - @(Model.EndYear?.ToString() ?? "heute"))</h1>
            <p class="mt-3">@Model.Description</p>

            @await Html.PartialAsync("_GenresPartial", Model.MediaGenres.Select(mg => mg.Genre))
            @await Html.PartialAsync("_SeasonsPartial", Model.Seasons)
        </div>
    </div>

    <!-- Empfehlungen -->
    <div class="row mt-5">
        <div class="col-12">
            @await Html.PartialAsync("_RecommendedPartial", recommended)
        </div>
    </div>
</div>
